{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-mono">
                ЗПШ.register()
            </h1>
            <p class="subtitle">
                Регистрация
            </p>
        </div>
        <hr>
        <div class="container is-centered is-mono" style="margin-top: 5vh">
            <form>
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" placeholder="Название команды/Имя Участника">
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" placeholder="Адрес для связи (почта/тг/вк)">
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-success">
                      Зарегистрироваться
                    </button>
                  </p>
                </div>
            </form>
        </div>
    </section>
{% endblock %}