{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/solarized-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-mono">
                ЗПШ.register()
            </h1>
            <p class="subtitle">
                Регистрация
            </p>
        </div>
        <hr>
        <div class="container is-centered is-mono" style="margin-top: 5vh">
            <pre>
                <code>
print("Правила участия в AtkDef-е")

rules = [
  "Один участник/команда - один сервер!",
  "Атаки на мастер-сервер (цтф.гитхаб.рф) запрещены!",
  "В случае любых вопросов пишите в телегу @pufit или на почту pufit@yandex.ru",
  "Администрация оставляет за собой право проводить регламентные работы, в течение которых" \
                    "некоторые сервера могут быть недоступны.",
  "За нарушение этих правил администрация оставляет за собой право дисквалифицировать участников",
  "Дальнейшие указания будут выданы после подтверждения регистраци по указаному адресу. Начало 19.02 12:00 GL;HF!"
]

for rule in rules:
    print(rule)
                </code>
            </pre>
        </div>

        <div class="container is-centered is-mono" style="margin-top: 5vh">
            <form action="" method="post">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" name="team" placeholder="Название команды/Имя Участника">
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" name="feedback" placeholder="Адрес для связи (тг/вк)">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-success" type="submit">
                            Зарегистрироваться
                        </button>
                    </p>
                </div>
            </form>

            {% if message %}
                <div class="content has-text-centered has-text-danger">
                    <p>
                        {{ message }}
                    </p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}