{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-mono">
            ЗПШ.list_servers()
        </h1>
    </div>
    <hr>
    <!-- Work In Progress -->
    <div class="container">
        <div class="columns is-multiline is-centered has-addons-centered is-grouped-centered">
            <div class="column">
                <h2 class="is-mono">Server 1</h2>
            </div>
            <div class="column">
                <h2 class="is-mono">Server 2</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}